{% extends 'base.html' %} {% load static %} {% block judul %} Cari Dokter Berdasarkan Spesialisasi {% endblock judul %} 
<link rel="stylesheet" href="{% static 'css/cariPenyakit.css' %}">
{% block content %}
<div class="pencarian">
    <div class="column text-center justify-content-center align-items-center">
        <img src="{% static 'img/magnifying-glass.png' %}" class="mag">
        <div class="dropdown">
                <button class="text-dropdown btn dropdown-toggle" type="button" data-toggle="dropdown">Filter berdasarkan spesialis
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="/cariDok/Umum">Umum</a></li>
                  <li><a href="/cariDok/Anak">Anak</a></li>
                  <li><a href="/cariDok/Penyakit Dalam">Penyakit Dalam</a></li>
                  <li><a href="/cariDok/THT">THT</a></li>        
                </ul>
              </div>
    </div>
</div>

<div class="cari-gambar">
    <div class="pencarian-gambar column text-center">
        <h1>Cari Berdasarkan Gambar</h1>
    </div>
    <div class="row m-10 justify-content-center align-item-center">
        <a href="/cariDok/Umum"><img src="{% static 'img/thermometer.png' %}" class="penyakit-img"></a>
        <a href="/cariDok/Anak"><img src="{% static 'img/baby-boy.png' %}" class="penyakit-img"></a>
        <a href="/cariDok/Penyakit Dalam"><img src="{% static 'img/heartbeat.png' %}" class="penyakit-img"></a>
        <a href="/cariDok/THT"><img src="{% static 'img/ear.png' %}" class="penyakit-img"></a>

    </div>
</div>


{% endblock content %}