{% extends 'base.html' %} {% load static %} {% block judul %} History Pemesanan di Dokterin {% endblock judul %} 
<link rel="stylesheet" href="{% static 'css/cariPenyakit.css' %}">
{% block content %}
<div class="container">
        <div class="container komentar-container">
            <h1 class="komentar-text">List yang sudah<span style="color: #0AB3E4;"> memesan</span> </h1>
            {% for pesanan in pesanans %}
            <div class="row komentar-card justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <h4 class="nama-komentar"><span style="color: #0AB3E4;">Nama Pemesan </span>{{pesanan.nama_pemesan}}</h4>
                    <h4 class="tanggal-komentar"><span style="color: #0AB3E4;">No HP </span>{{pesanan.no_hp}}</h6>
                    <h4 class="komentar"><span style="color: #0AB3E4;">Alamat </span>{{pesanan.alamat}}</p>
                    <h4 class="rating-komentar"><span style="color: #0AB3E4;">Waktu </span>{{pesanan.pilihan_waktu}} </h6>
                </div>
            </div>
            {% endfor %}
    
    
            <a href="/cariDok/"><button type="button" class="btn btn-success btn-create-komentar">Kembali</button></a>
        </div>
    </div>

{% endblock content %}