{% extends 'base.html' %} {% load static %} {% block judul %} {{judul}} {% endblock judul %} {% block content %}

<div class="container">
    <div class="container komentar-container">
        <h1 class="komentar-text">Komentar orang orang <span style="color: #0AB3E4;">tentang kami</span> </h1>
        {% for feedback in feedbacks %}
        <div class="row komentar-card justify-content-center">
            {% if feedback.jenis_kelamin == "Perempuan" %}
            <div class="col-md-12 col-lg-2">
                <img src="{% static 'img/girl.png' %}" alt="">
            </div>
            {% else %}
            <div class="col-md-12 col-lg-2">
                <img src="{% static 'img/man.png' %}" alt="">
            </div>
            {% endif %}

            <div class="col-md-12 col-lg-10">
                <h4 class="nama-komentar">{{feedback.nama_pengirim}}</h4>
                <h6 class="tanggal-komentar">{{feedback.tanggal}}</h6>
                <p class="komentar">{{feedback.komentar}}</p>
                <h6 class="rating-komentar">Rating : {{feedback.rating}} / 10</h6>
            </div>
        </div>
        {% endfor %}


        <a href="/feedback/create/"><button type="button" class="btn btn-success btn-create-komentar">Ayo beri kami saran</button></a>
    </div>
</div>


{% endblock content %}