{% load static %}
<nav id="nav" class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="d-flex flex-grow-1">
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="/" class="nav-link m-2 menu-item" style="color: #59485;"><strong
                            class="text-nav">Home</strong> </a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link m-2 menu-item" style="color: #59485;"><strong
                            class="text-nav">About</strong> </a>
            </li>
            <li class="nav-item">
                <a href="/cariDok" class="nav-link m-2 menu-item" style="color: #59485"><strong
                            class="text-nav">Cari Dokter</strong></a>
            </li>
            <li class="nav-item">
                <a href="/tanyadok/list/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                            class="text-nav">Tanya Dokter</strong></a>
            </li>
            <li class="nav-item">
                <a href="/feedback/list/" class="nav-link m-2 menu-item" style="color: #59485"><strong
                            class="text-nav">FeedBack</strong></a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link m-2 menu-item" style="color: #59485"><strong
                            class="text-nav">Contact</strong></a>
            </li>
        </ul>
    </div>
</nav>