{% extends 'base.html' %}
{% load static %} 
{% block judul %} Form Buat Dokter{% endblock judul %}  
{% block content %}
<div class="container black-font">
    <h2 class="large-font blackG-color">Anda Seorang Dokter?</h2>
    <h2 class="large-font blue-color">Daftarkan diri anda dan bantu kami memberi solusi kesehatan untuk orang lain</h2>
    <form class="padding-top padding-bottom large-font" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-3 blackB-color">Name</label>
            <div class="col-sm-9">
                {{ form.nama }}
            </div>
        </div>
        <div class="form-group row">
            <label class="blackB-color col-sm-3">Umur</label>
            <div class="col-sm-9">
                {{ form.umur }}            
            </div>
        </div>
        <div class="form-group row">
            <label class="blackB-color col-sm-3">Jenis Kelamin</label>
            <div class="col-sm-9">
                {{ form.jenis_kelamin }}
            </div>
        </div>
        <div class="form-group row">
            <label class="blackB-color col-sm-3">Spesialis</label>
            <div class="col-sm-9">
                {{ form.spesialis }}
            </div>
        </div>
        <div class="form-group row">
            <label class="blackB-color col-sm-3">Pengalaman(Tahun)</label>
            <div class="col-sm-9">
                {{ form.pengalaman }}
            </div>
        </div>
        <div class="form-group row">
            <label class="blackB-color col-sm-3"> Tempat Praktek </label>
            <div class="col-sm-9">
                {{ form.tempatPraktek }}
            </div>
        </div>
        <div class="form-group row">
            <label class="blackB-color col-md-1"> Day </label>
            <div class="col-sm-3">
                {{ form.day }}
            </div>
            <label class="blackB-color col-md-1"> From: </label>
            <div class="col-sm-3">
                {{ form.waktuAwal }}
            </div>
            <label class="blackB-color col-md-1"> Until: </label>
            <div class="col-sm-3">
                {{ form.waktuAkhir }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary blackG-color">Daftar</button>
    </form>
</div>
{% endblock %}