{% extends 'base.html' %} {% load static %} {% block judul %} {{judul}} {% endblock judul %} {% block content %}

<!-- <div class="container">
    <div class="container komentar-container">
        <h1 class="komentar-text">Ayo bertanya, Dokter kami akan hadir menjawab <span style="color: #0AB3E4;">pertanyaan anda</span> </h1>

        {% for pertanyaan in pertanyaans %}
        <h1>{{pertanyaan.nama_penanya}}</h1>
        <p>{{pertanyaan.jenis_penyakit}}</p>
        <p>{{pertanyaan.pertanyaan}}</p>
        {% endfor %}

        <a href="/tanyadok/tanya/"><button type="button" class="btn btn-success ">Buat pertanyaan</button></a>
    </div>
</div> -->

<div class="container">
    <div class="container komentar-container">
        <h1 class="komentar-text">Bingung dengan masalah kesehatan anda? <span style="color: #0AB3E4;">Tanyakan kepada kami</span> </h1>
        {% for pertanyaan in pertanyaans %}
        <div class="row komentar-card justify-content-center">
            <div class="col-md-12 col-lg-2">
                <img src="{% static 'img/girl.png' %}" alt="">
            </div>

            <div class="col-md-12 col-lg-10">
                <h4 class="nama-komentar">{{pertanyaan.nama_penanya}}</h4>
                <h6 class="tanggal-komentar">{{pertanyaan.jenis_penyakit}}</h6>
                <p class="komentar">{{pertanyaan.pertanyaan}}</p>
            </div>
        </div>
        {% endfor %}


        <a href="/tanyadok/tanya/"><button type="button" class="btn btn-success btn-create-komentar">Ayo Bertanya</button></a>
    </div>
</div>


{% endblock content %}