{% extends 'base.html' %} {% block judul %} {{judul}} {% endblock judul %} {% block content %}

<div class="container">
    <div class="column">
        <h1 class="kami-senang">Bingung dengan masalah kesehatan anda? </h1>
        <h1 class="beri-kami-saran">Beri saran kepada kami </h1>
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}

            <form>
                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{pertanyaan_form.nama_penanya.label}}</label>
                    <div class="col-sm-10">
                        {{pertanyaan_form.nama_penanya}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{pertanyaan_form.jenis_penyakit.label}}</label>
                    <div class="col-sm-10">
                        {{pertanyaan_form.jenis_penyakit}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{pertanyaan_form.pertanyaan.label}}</label>
                    <div class="col-sm-10">
                        {{pertanyaan_form.pertanyaan}}
                    </div>
                </div>

                <div class="create-komentar-button">
                    <button type="Submit" class="btn btn-success">Buat</button>
                    <a class="btn btn-primary" href="/tanyadok/list/" style="color: white">Back</a>
                </div>

            </form>
        </form>
    </div>
</div>


{% endblock content %}